# MYSQL DB (Planetscale is used as the database provider)
DB_USER=pranav
DB_PASS=password
DB_URL=mysql.savorydb.com
DB_NAME=savorydb

logRequests=true
loggingLevel=

PORT=

TEST_DB_NAME=
TEST_DB_USER=
TEST_DB_URL=
TEST_DB_PASS=

jwtPrivateKey=18d50c5750d4af51591836c1b983ef5ab563c58378b91fe527f7a9994bf37402d67af1f2a3b2a671673b400d689b962e52f915b93fb3eaa549d266fbc083d87e

NODE_ENV=development
